<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/js/css/layui.css" >
    <style>
        #container{
            width:900px
            margin:0 auto;
        }
    </style>
</head>
<body>
<div class="demoTable">
  搜索地区:
  <div class="layui-inline">
    <input class="layui-input" id="demoReload"  autocomplete="off">
  </div>
    价格范围:￥
    <div class="layui-inline">
    <input class="layui-input" id="demoReload1"  autocomplete="off">
  </div>
    - ￥
    <div class="layui-inline">
    <input class="layui-input" id="demoReload2" autocomplete="off">
  </div>

  <button class="layui-btn" data-type="reload" id="search">搜索</button>
</div>


    <div id="container">
        <table class="layui-hide" lay-filter="zufang" id="zufang"></table>
    </div>
<div class="layui-btn-container"  align="center"  >
  <button type="button" class="layui-btn" lay-event="add"  id="add1" >添  加</button>
</div>
    <div style="display: none;padding: 20px" id="saveOrUpdateDiv1" >
    <form class="layui-form"  lay-filter="dataFrm1" id="dataFrm1">
        {% csrf_token %}
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">房产标题:</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id">
                    <input type="text" name="title" lay-verify="required"   placeholder="请输入房产标题" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">面积:</label>
                <div class="layui-input-inline">
                    <input type="text" name="size_room" lay-verify="required"   placeholder="请输入房产占地面积" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">朝向:</label>
                <div class="layui-input-inline">
                    <input type="text" name="area_room" lay-verify="required"   placeholder="请输入房产朝向" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">户型:</label>
                <div class="layui-input-inline">
                    <input type="text" name="num_room" lay-verify="required"   placeholder="请输入房产户型" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">位置:</label>
                <div class="layui-input-inline">
                    <input type="text" name="location" lay-verify="required"  placeholder="请输入位置" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">月租</label>
                <div class="layui-input-inline">
                    <input type="text" name="totalprice" lay-verify="required"  placeholder="请输入月租" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doEditSubmit" lay-submit="">提交</button>
                <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" >重置</button>
            </div>
        </div>
    </form>
    </div>

    <!--第二个-->
    <div style="display: none;padding: 20px" id="saveOrUpdateDiv2" >
    <form class="layui-form"  lay-filter="dataFrm2" id="dataFrm2">
        {% csrf_token %}
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">房产标题:</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id">
                    <input type="text" name="title" lay-verify="required"   placeholder="请输入房产标题" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">面积:</label>
                <div class="layui-input-inline">
                    <input type="text" name="size_room" lay-verify="required"   placeholder="请输入房产占地面积" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">朝向:</label>
                <div class="layui-input-inline">
                    <input type="text" name="area_room" lay-verify="required"   placeholder="请输入房产朝向" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">户型:</label>
                <div class="layui-input-inline">
                    <input type="text" name="num_room" lay-verify="required"   placeholder="请输入房产户型" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">位置:</label>
                <div class="layui-input-inline">
                    <input type="text" name="location" lay-verify="required"  placeholder="请输入位置" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">月租：</label>
                <div class="layui-input-inline">
                    <input type="text" name="totalprice" lay-verify="required"  placeholder="请输入月租" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doAddSubmit" lay-submit="">提交</button>
                <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" >重置</button>
            </div>
        </div>
    </form>
    </div>
    <!--end-->
    <script  type="text/html" id="barDemo">
       <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</button>
       <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</button>
    </script>
    <script src="/static/js/layui.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script>
        layui.use(['table','form'], function(){
            var table = layui.table;
            var form = layui.form;
            var mainIndex;
             $("#add1").click(function(){
                addmsg()
                   });
            tableIns=table.render({
                elem: '#zufang'
                ,url:'/houtai/showbypage3/'
                ,limit:8
                ,limits:[8,10,50]
                ,skin: 'row'
                ,even: true
                ,id:'showall'
                ,cols:[[
                    {type: 'checkbox',fixed:'left'},
                    {field: 'id', title:'ID', sort: true, fixed: 'left', width: 70},
                    {field: 'title', title: '房产标题', width: 200},
                    {field: 'size_room', title: '面积', width: 80},
                    {field: 'area_room', title: '朝向', width: 80},
                    {field: 'num_room', title: '户型', width: 100},
                    {field: 'location', title: '位置', width: 220},
                    {field: 'totalprice', title: '月租',  width: 80, sort: true},
                    {title:'操作',minWidth:'140',align:'center',toolbar:'#barDemo'}
                ]]
                ,page:true
            });
// 执行搜索，表格重载
    $('#search').on('click', function () {
      // 搜索条件
      var send_data = $('#demoReload').val();
      var price_data1 = $('#demoReload1').val();
      var price_data2 = $('#demoReload2').val();
      table.reload('showall', {
        limit:8
       ,limits:[8,10,50]
       ,page:{
        cur:1
        }
        ,url:'/houtai/searchzu/'
        ,method: 'GET'
        , where: {
          'send_data': send_data,
          'price_data1':price_data1,
          'price_data2':price_data2

        }
      });
    });


            //表格的事件监听tool(zufang)
            table.on('tool(zufang)', function(obj){
                var data = obj.data;//取到触发事件这一行的数据
                console.log(data);
                if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        $.ajax({
                            url: "/houtai/drop_ajax3/",
                            type: "POST",
                            data:{"id":data.id,
                                    csrfmiddlewaretoken:$("input[name='csrfmiddlewaretoken']").val()
                                  },
                            dataType: "json",
                            success: function(data){
                                obj.del();
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                                tableIns.reload();
                            },
                            error:function (data) {
                                layer.msg("删除失败", {icon: 5});
                            }
                        });
                    });
                } else if(obj.event === 'edit'){
                    openUserUpdate(data);
                }
            });
            function openUserUpdate(data) {
                mainIndex=layer.open({
                    type:1,
                    title:'编辑房产信息',
                    content:$("#saveOrUpdateDiv1"),
                    area:['800px','400px'],
                    success:function(index){
                        form.val("dataFrm1",data);
                    },end:function(){ // 未点击确定按钮，点击关闭按钮
　　　　　　          $("#saveOrUpdateDiv1").css("display","none");
　　　　            }
                });
            }
            function addmsg(data) {
                mainIndex=layer.open({
                    type:1,
                    title:'添加房产信息',
                    content:$("#saveOrUpdateDiv2"),
                    area:['800px','400px'],
                    success:function(index){
                        form.val("dataFrm2",data);
                    },end:function(){ // 未点击确定按钮，点击关闭按钮
　　　　　　          $("#saveOrUpdateDiv2").css("display","none");
　　　　            }
                });
            }
                 form.on("submit(doAddSubmit)",function(obj){
                 $.post("/houtai/add_update_ajax3/",form.val('dataFrm2'),function(obj){
                     layer.msg(obj.msg);
                     //关闭弹出层
                     layer.close(mainIndex);
                     $("#saveOrUpdateDiv2").css("display","none");
                     //刷新数据 表格
                     tableIns.reload();
                 })
            });
            //form表单的监听
            form.on("submit(doEditSubmit)",function(obj){
                 $.post("/houtai/update_ajax3/",form.val('dataFrm1'),function(obj){
                     layer.msg(obj.msg);
                     //关闭弹出层
                     layer.close(mainIndex);
                     $("#saveOrUpdateDiv1").css("display","none");
                     //刷新数据 表格
                     tableIns.reload();
                 })
            });
        });
    </script>
</body>
</html>